<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <link rel="stylesheet" href="../default.css" />
    <link rel="stylesheet" href="image.css" />
  </head>
  <body>
    <div class="column-container">
      <h3>Responsive Image</h3>
      <div class="image-container">
        <img
          src="https://images.unsplash.com/photo-1498036882173-b41c28a8ba34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80"
          alt="responsive image"
          class="responsive-image"
        />
      </div>
      <h3>Round Images</h3>

      <div class="image-container">
        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/boy_afro_kid_child-256.png"
          alt="round image example 1"
          class="circular-image"
        />

        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/girl_avatar_child_kid-256.png"
          alt="round image example 2"
          class="circular-image"
        />
        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/cactus_cacti_avatar_pirate-256.png"
          alt="round image example 3"
          class="circular-image"
        />
      </div>

      <h3>Square Images</h3>

      <div class="image-container">
        <img
          src="https://cdn0.iconfinder.com/data/icons/font-awesome-brands-vol-1/512/github-square-256.png"
          alt="square image example 1"
          class="square-image"
        />

        <img
          src="https://cdn0.iconfinder.com/data/icons/font-awesome-brands-vol-2/512/steam-square-256.png"
          alt="square image example 2"
          class="square-image"
        />
        <img
          src="https://cdn0.iconfinder.com/data/icons/font-awesome-brands-vol-2/512/youtube-square-256.png"
          alt="square image example 3"
          class="square-image"
        />
      </div>
    </div>
  </body>
</html>
