<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../default.css" />
    <link rel="stylesheet" href="input.css" />
  </head>
  <body>
    <div class="column-container">
      <h2>Textbox with valid input</h2>

      <div class="input-icon-container">
        <div class="material-icons-outlined input-icon bright-green-color">
          task_alt
        </div>
        <input type="text" class="bright-green-border valid-input" />
      </div>

      <h2>Textbox with Invalid input</h2>

      <div class="input-icon-container">
        <div class="material-icons-outlined input-icon bright-red-color">
          cancel
        </div>
        <input type="text" class="bright-red-border invalid-input" />
      </div>
    </div>
  </body>
</html>
