<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="default.css" />
    <link rel="stylesheet" href="button.css" />
  </head>
  <body>
    <div class="column-container">
      <h3>Default Button</h3>
      <div class="row-container">
        <button class="button black-bg white-color button-hover">
          Default button
        </button>
        <button class="button bright-red-bg white-color button-hover">
          Default button
        </button>
        <button class="button bright-green-bg white-color button-hover">
          Default button
        </button>
        <button class="button bright-blue-bg white-color button-hover">
          Default button
        </button>
      </div>

      <h3>Link Button</h3>
      <div class="row-container">
        <button class="button link-button light-gray-bg button-hover">
          <a href="https://www.google.com" target="_blank">Link button </a>
        </button>
        <button class="button link-button red-bg button-hover">
          <a href="https://www.google.com" target="_blank">Link button </a>
        </button>
        <button class="button link-button green-bg button-hover">
          <a href="https://www.google.com" target="_blank">Link button </a>
        </button>
        <button class="button link-button blue-bg button-hover">
          <a href="https://www.google.com" target="_blank">Link button </a>
        </button>
      </div>

      <h3>Icon Button</h3>
      <div class="row-container">
        <button class="button light-gray-bg button-hover">
          <div class="row-container">
            <span class="material-icons-outlined"> done_outline </span>
            Confirm
          </div>
        </button>
        <button class="button red-bg button-hover">
          <div class="row-container">
            <span class="material-icons-outlined"> stop_circle </span>
            Stop
          </div>
        </button>
        <button class="button green-bg button-hover">
          <div class="row-container">
            <span class="material-icons-outlined"> autorenew </span>
            Sync
          </div>
        </button>
        <button class="button blue-bg button-hover">
          <div class="row-container">
            <span class="material-icons-outlined right-button-icon">
              info
            </span>
            Info
          </div>
        </button>
      </div>

      <h3>Outline Button</h3>
      <div class="row-container">
        <button
          class="button outline-button black-color black-border black-button-hover"
        >
          Outline Button
        </button>
        <button
          class="button outline-button bright-red-color bright-red-border bright-red-button-hover"
        >
          Outline Button
        </button>
        <button
          class="button outline-button bright-green-color bright-green-border bright-green-button-hover"
        >
          Outline Button
        </button>
        <button
          class="button outline-button bright-blue-color bright-blue-border bright-blue-button-hover"
        >
          Outline Button
        </button>
      </div>

      <h3>Floating Action Button</h3>
      <div class="row-container">
        <button
          class="button floating-action-button white-color black-bg button-hover"
        >
          <span class="material-icons-outlined md-36 floating-icon">
            my_location
          </span>
        </button>
        <button
          class="button floating-action-button white-color bright-red-bg button-hover"
        >
          <span class="material-icons-outlined md-36 floating-icon">
            notifications
          </span>
        </button>
        <button
          class="button floating-action-button white-color bright-green-bg button-hover"
        >
          <span class="material-icons-outlined md-36 floating-icon">
            local_grocery_store
          </span>
        </button>
        <button
          class="button floating-action-button white-color bright-blue-bg button-hover"
        >
          <span class="material-icons-outlined md-36 floating-icon">
            near_me
          </span>
        </button>
      </div>

      <h3>Pillbox button</h3>
      <div class="row-container">
        <button class="button pillbox-button black-bg white-color button-hover">
          Pillbox button
        </button>
        <button
          class="button pillbox-button bright-red-bg white-color button-hover"
        >
          Pillbox button
        </button>
        <button
          class="button pillbox-button bright-green-bg white-color button-hover"
        >
          Pillbox button
        </button>
        <button
          class="button pillbox-button bright-blue-bg white-color button-hover"
        >
          Pillbox button
        </button>
      </div>

      <h3>Tonal button</h3>
      <div class="row-container">
        <button
          class="button pillbox-button bright-gray-bg black-color button-hover"
        >
          Tonal button
        </button>
        <button
          class="button pillbox-button green-bg bright-green-color button-hover"
        >
          Tonal button
        </button>
        <button
          class="button pillbox-button red-bg bright-red-color button-hover"
        >
          Tonal button
        </button>
        <button
          class="button pillbox-button blue-bg bright-blue-color button-hover"
        >
          Tonal button
        </button>
      </div>
    </div>
  </body>
</html>
