<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css" />
  </head>
  <body>
    <div class="row-container">
      <img
        src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
        alt="small-avatar"
        class="avatar small-avatar"
      />

      <img
        src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
        alt="medium-avatar"
        class="avatar medium-avatar"
      />

      <img
        src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
        alt="large-avatar"
        class="avatar large-avatar"
      />
    </div>
  </body>
</html>
