<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../default.css" />
    <link rel="stylesheet" href="list.css" />
    <title>List</title>
  </head>
  <body>
    <div class="column-container">
      <h3>Normal List</h3>
      <ul class="default-list">
        <li class="list-item">Pencil</li>
        <li class="list-item">Pen</li>
        <li class="list-item">Eraser</li>
        <li class="list-item">Compass</li>
        <li class="list-item">Scale</li>
      </ul>

      <h3>Stacked List</h3>
      <div class="notification-container notification-shadow">
        <div class="notification-title-container">
          <div class="material-icons-outlined">shopping_cart</div>
          <div class="notification-title">Order shipped</div>
          <div class="material-icons-outlined notification-close-icon">
            cancel
          </div>
        </div>
        <div class="notification-text-container">
          <div class="notification-text">
            Your order has been shipped. Arriving in 5 day(s)
          </div>
        </div>
      </div>

      <div class="notification-container notification-shadow">
        <div class="notification-title-container">
          <div class="material-icons-outlined">notifications</div>
          <div class="notification-title">Order delivered</div>
          <div class="material-icons-outlined notification-close-icon">
            cancel
          </div>
        </div>
        <div class="notification-text-container">
          <div class="notification-text">
            Your order for Super Thinking and 2 other items has been delivered.
          </div>
        </div>
      </div>

      <div class="notification-container notification-shadow">
        <div class="notification-title-container">
          <div class="material-icons-outlined">timer</div>
          <div class="notification-title">Time is running out</div>
          <div class="material-icons-outlined notification-close-icon">
            cancel
          </div>
        </div>
        <div class="notification-text-container">
          <div class="notification-text">
            Last 2 hours of 5th Aniversary sale. Huge discounts on your
            favourite titles. Order now !!
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
