<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../default.css" />
    <link rel="stylesheet" href="navigation.css" />
  </head>
  <body>
    <div class="column-container">
      <h3>Normal Navigation Bar</h3>

      <div class="navigation-container">
        <nav class="navigation bright-blue-bg white-color">
          <div class="navigation-title-container">
            <div class="material-icons-outlined">widgets</div>
            <h1>App</h1>
          </div>
          <ul class="navigation-links-container">
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Home </a>
            </li>
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Saved </a>
            </li>
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Log Out </a>
            </li>
          </ul>
        </nav>

        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <p>
          It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.
        </p>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        <p>
          Many desktop publishing packages and web page editors now use Lorem
          Ipsum as their default model text, and a search for 'lorem ipsum' will
          uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose
          (injected humour and the like).
        </p>
      </div>

      <h3>Fixed Navigation Bar</h3>

      <div class="navigation-container">
        <nav class="navigation bright-purple-bg white-color fixed-navigation">
          <div class="navigation-title-container">
            <div class="material-icons-outlined">widgets</div>
            <h1>App</h1>
          </div>
          <ul class="navigation-links-container">
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Home </a>
            </li>
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Saved </a>
            </li>
            <li class="navigation-link-item">
              <a href="https://www.google.com" target="_blank"> Log Out </a>
            </li>
          </ul>
        </nav>

        <br />
        <br />
        <br />
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <p>
          It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.
        </p>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters, as opposed to using 'Content here, content here', making it
          look like readable English.
        </p>
        <p>
          Many desktop publishing packages and web page editors now use Lorem
          Ipsum as their default model text, and a search for 'lorem ipsum' will
          uncover many web sites still in their infancy. Various versions have
          evolved over the years, sometimes by accident, sometimes on purpose
          (injected humour and the like).
        </p>
      </div>
    </div>
  </body>
</html>
