<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../default.css" />
    <link rel="stylesheet" href="rating.css" />
  </head>
  <body>
    <div class="column-container">
      <h2>Rating</h2>

      <h3>5 star</h3>
      <div class="row-container bright-yellow-color">
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
      </div>

      <h3>4 star</h3>
      <div class="row-container bright-blue-color">
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_outline</div>
      </div>

      <h3>3 star</h3>
      <div class="row-container bright-red-color">
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
      </div>

      <h3>2 star</h3>
      <div class="row-container bright-green-color">
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
      </div>

      <h3>1 star</h3>
      <div class="row-container">
        <div class="material-icons-outlined md-36">star_rate</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
        <div class="material-icons-outlined md-36">star_outline</div>
      </div>
    </div>
  </body>
</html>
