<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="badge.css" />
  </head>
  <body>
    <div class="row-container">
      <div class="badge-container">
        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
          alt="small-avatar"
          class="avatar medium-avatar"
        />
        <span class="avatar-badge red-badge"></span>
      </div>

      <div class="badge-container">
        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
          alt="medium-avatar"
          class="avatar medium-avatar"
        />
        <span class="avatar-badge green-badge"></span>
      </div>

      <div class="badge-container">
        <img
          src="https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/sloth_lazybones_sluggard_avatar-512.png"
          alt="large-avatar"
          class="avatar medium-avatar"
        />
        <span class="avatar-badge yellow-badge"></span>
      </div>
    </div>

    <div class="row-container">
      <div class="badge-container">
        <span class="material-icons-outlined md-48"> leaderboard </span>
        <span class="icon-badge red-badge"></span>
      </div>

      <div class="badge-container">
        <span class="material-icons-outlined md-48"> settings </span>
        <span class="icon-badge green-badge"></span>
      </div>

      <div class="badge-container">
        <span class="material-icons-outlined md-48"> dns </span>
        <span class="icon-badge yellow-badge"></span>
      </div>
    </div>
  </body>
</html>
