<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Utilities</title>
    <link rel="stylesheet" href="text.css" />
    <link rel="stylesheet" href="../default.css" />
  </head>
  <body>
    <div class="column-container">
      <h1>Text Utilities</h1>

      <h2 class="bright-red-color">Headings</h2>

      <h1>Some H1 text</h1>
      <h2>Some H2 text</h2>
      <h3>Some H3 text</h3>
      <h4>Some H4 text</h4>
      <h5>Some H5 text</h5>
      <h6>Some H6 text</h6>

      <h2 class="bright-red-color">Small text</h2>
      <p class="small-text">
        This is some small text, small as in size not in length.
      </p>

      <h2 class="bright-red-color">Gray text</h2>
      <p class="gray-text">This is some gray text</p>

      <h2 class="bright-red-color">Centered text</h2>
      <div class="centered-text-container">
        Typography is the art and technique of arranging type to make written
        language legible, readable and appealing when displayed. The arrangement
        of type involves selecting typefaces, point sizes, line lengths,
        line-spacing (leading), and letter-spacing (tracking), as well as
        adjusting the space between pairs of letters.
      </div>
    </div>
  </body>
</html>
