<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="alert.css" />
  </head>
  <body>
    <!-- primary, error, success, warning, info -->

    <div class="column-container">
      <div class="alert">
        <span class="material-icons-outlined"> help_outline </span>
        This is a primary alert
      </div>

      <div class="alert success-alert">
        <span class="material-icons-outlined"> check_circle </span>
        This is a success alert
      </div>

      <div class="alert info-alert">
        <span class="material-icons-outlined"> info </span>
        This is a info alert
      </div>

      <div class="alert warning-alert">
        <span class="material-icons"> report_problem </span>
        This is a warning alert
      </div>

      <div class="alert error-alert">
        <span class="material-icons"> dangerous </span>
        This is a error alert
      </div>
    </div>
  </body>
</html>
